body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 25px;
}

h1 {
  color: #226830;
}

em {
  color: #5d5d5d;
}

.tab {
  overflow: hidden;
  border-bottom: 2px solid #226830;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #226830;
  color: white;
  border-bottom: 2px solid #fff;
}

.content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
}

h3 {
  color: #226830;
}

#displayProduct {
  margin-top: 15px;
}

button.block {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #226830;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

button.block:hover {
  background-color: #1e4160;
}

#displayCart {
  margin-top: 15px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
}
